html
  head
    meta(charset='UTF-8')
    title= site.title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description', content=site.description)
    meta(name='keywords', content=site.keywords)
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Playball')
    link(rel='stylesheet', type='text/css', href='#{styles_url}fort.css')
    link(rel='shortcut icon', href='favicon.png')
  body

    header.header.wrap
      h1= site.title
      p= site.tagline

    section.wrap
      ul.grid-container

        each button, i in buttons

          li.grid-column-2.grid-column-12-s.grid-column-3-m
            div(class="audio audio-#{i+1}")
              span.grid-column-6-s.grid-column-12
                button(onclick="document.getElementById('audio-" + (i+1) + "').play()")
                  span= button.label
              span.grid-column-6-s.grid-column-12
                strong= button.label
                a(href=button.source_url, target="_blank")= source
                audio(id="audio-" + (i + 1))
                  source(src=assets_url + button.mp3_url)


    footer.footer.wrap
      p
        a(href="http://orig10.deviantart.net/472c/f/2015/288/3/c/botonera_fort_final_by_ovisti-d9d8mtd.swf", target="_blank")
          strong= footer.original 
        a(href="https://github.com/ignacioricci/instant-fort", target="_blank")= footer.github
        | #{footer.mobile}